<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/62c44247f4.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="css/rural/style.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/valorVenal/style.css">
  </head>
  
  <body class="bg-custom">
   
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Links Uteis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end gap-3" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="home" href="/">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="usuario" href="/users">usuario</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="cadastro" href="/cadastro">cadastro</a>
            </li>

            <li class="nav-item px-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Utilitarios
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/zap">Mensagem Whatsapp</a></li>
              <li><a class="dropdown-item" href="/rural">Rural</a></li>
            </ul>

            <li class="nav-item px-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Requerimentos
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/valorVenal">Valor Venal</a></li>
              <li><a class="dropdown-item" href="#">Consulta Valor Venal</a></li>
              <li><a class="dropdown-item" href="./Utilitarios/requerimento/isencao/isencao.html">Isencao</a></li>
              <li><a class="dropdown-item" href="#">Consulta Isencao</a></li>
            </ul> 

            <li class="nav-item px-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Certidões
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://solucoes.receita.fazenda.gov.br/Servicos/certidaointernet/PF/Emitir" target="_blank">CND Federal</a></li>
              <li><a class="dropdown-item" href="http://www.cdw.fazenda.pr.gov.br/cdw/emissao/certidaoAutomatica" target="_blank">CND Estadual</a></li>
              <li><a class="dropdown-item" href="https://terraroxa.atende.net/autoatendimento/servicos/certidao-negativa-de-debitos/detalhar/1" target="_blank">CND Municipal</a></li>
              <li><a class="dropdown-item" href="https://www.tst.jus.br/certidao1" target="_blank">CND Trabalhista</a></li>
            </ul>

            <li class="nav-item px-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Links Uteis
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.nfs-e.net/fiscalweb.php" target="_blank">Fiscal WEB</a></li>
              <li><a class="dropdown-item" href="https://www2.correios.com.br/sistemas/rastreamento/" target="_blank">Rastreamento Correios</a></li>
              <li><a class="dropdown-item" href="https://www2.correios.com.br/enderecador/cartas/default.cfm" target="_blank">Endereçador de cartas</a></li>
              <li><a class="dropdown-item" href="https://webmail.terraroxa.pr.gov.br" target="_blank">E-mail</a></li>
              <li><a class="dropdown-item" href="https://terraroxa.atende.net/cidadao" target="_blank">Municipio</a></li>
              <li><a class="dropdown-item" href="https://www.cnj.jus.br/corregedoria/justica_aberta/?" target="_blank">Justiça Aberta</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  