@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

* {
    font-family: 'Roboto', sans-serif;
}

.bg-custom{
    background-color: #2b2b2b;
}

.my-footer{
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 1rem 0 1rem 0;
}
