.form-del, .form-print, .form-print-avaliacao, .form-edit{
    background: none;
}

.form-del button, .form-edit button, .form-print button, .form-print-avaliacao button{
    background: none;
    border: none;
}





