.form-del{
    background: none;
}

.form-del button{
    background: none;
    border: none;
}

.form-edit{
    background: none;
}

.form-edit button{
    background: none;
    border: none;
}

.form-print{
    background: none;
}

.form-print button{
    background: none;
    border: none;
}

