*{
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    text-align: center;
    height: 120px;
    width: 650px;
    margin-bottom: 2rem;
}

.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-top: 0;
    text-decoration: underline;
}

.texto {
    text-indent: 12rem;
    font-size: 18px;
    text-align: justify;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#data{
    text-align: start;
    font-size: 18px;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.assinatura{
    margin-top: 10rem;
}

.assinatura .cargo1{
    margin-bottom: 3px;
}

.assinatura .cargo2{
    margin-top: 3px;
}

.cargo1, .cargo2{
    text-align: center;
}

.cargo1{
    font-size: 18px;
}

.cargo2{
    font-size: 14px;
}



